
tr:hover {
    background-color: #edeff2;
}
table {
    margin: 10px;
}
tb, td,tr, th {
    border: 0.5px solid gray;
}
td, th {
    padding: 10px;
}
.mybtn {
    background-color: inherit;
    text-align: left;
    padding: 10px;
}

.mybtn:hover {
    background-color: #f2f4f7;
}