
tr:hover {
    background-color: #edeff2;
}
tr {
    border-bottom: 0.5px solid gray;
}

.mybtn {
    background-color: inherit;
    text-align: left;
    padding: 10px;
}

.mybtn:hover {
    background-color: #f2f4f7;
}