<table style="width: 100%">
    <tr>
        <th>ID</th>
        <th>Trieu chung</th>
        <th>Cac benh</th>
    </tr>
    <%events.forEach(event => {%>
        <tr>
            <td><%=event.id%></td>
            <td><%=event.name%></td>
            <td>
                <%event.results.forEach(result => {%>
                    <p><%=result.name%></p>
                <%})%>
            </td>
        </tr>
    <%})%>
</table>