<div>
    <ul>
        <li>
            <p><a href="/quanlybenh">Trang quản lý luật bệnh</a></p>
            <p><a href="/quanlygiong">Trang quản lý luật chọn giống</a></p>
            <p><a href="/themluatbenh">Trang quản lý thêm luật bệnh</a></p>
            <p><a href="/themluatgiong">Trang quản lý luật luật chọn giống</a></p>
        </li>
    </ul>
</div>