<div class="sidenav">
    <button id="1" onclick="showSuKienMoi(1)">Quản lý tập sự kiện mới</button>
    <button id="2" onclick="showLuatBenh(2)">Quản lý tập luật bệnh</button>
    <button id="3" class="btn" data-toggle="modal" data-target="#them-luat-benh-modal">Thêm luật bệnh</button>
    <button id="4" onclick="showLuatGiong(4)">Quản lý tập luật giống</button>
    <button id="5" class="btn" data-toggle="modal" data-target="#them-luat-giong-modal">Thêm luật chọn giống</button>
    <button id="6" onclick="showBenh(6)">Quản lý tập bệnh</button>
    <button id="7" onclick="showGiong(7)">Quản lý tập giống</button>
</div>
<div class="main">
    <div id="main-view">
    
       
    </div>
</div>
<div class="modal" id="benh-modal">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 1100px;margin-left: -270px">
            <div class="modal-header">
                <h4 class="modal-title">Thông tin bệnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="benh-modal-body" class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Trở về </button>
            </div>
    
        </div>
    </div>
</div>
      



<div class="modal" id="giong-modal">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 1100px;margin-left: -270px">
    

            <div class="modal-header">
            <h4 class="modal-title">Thông tin giống lúa</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
    
            <!-- Modal body -->
            <div id="giong-modal-body" class="modal-body">
                
            </div>
    
            <!-- Modal footer -->
            <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Trở về </button>
            </div>
    
        </div>
    </div>
</div>
          
<div class="modal ui-widget" id="them-luat-benh-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm luật bệnh</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body form-group">
                <label for="chon-benh-lua-input">Bệnh lúa</label>
                <input id="chon-benh-lua-input" class="form-control" placeholder="Chọn hoặc thêm mới bệnh">
                <div id="tap-su-kien-benh">
                    <h3>Tập sự kiện</h3>
                    <ul id="ul-benh-events">

                    </ul>
                </div>
                <input id="chon-event-benh-input" onkeypress="return themSuKien(event, 'chon-event-benh-input')" class="form-control" placeholder="Chọn hoặc thêm mới sự kiện">
                <label for="">Tỉ lệ chính xác</label>
                <input id="ti-le-chinh-xac" value="100" class="form-control" type="number">
            </div>
            <div class="modal-footer">
                <button type="button" id="tao-luat-benh" class="btn">Thực thi</button>
                <button type="button" class="btn" data-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="them-luat-giong-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm luật chọn giống</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body form-group">
                <label for="chon-giong-lua-input">Giống lúa</label>
                <input id="chon-giong-lua-input" class="form-control" placeholder="Chọn hoặc thêm mới giong">
                <div id="tap-su-kien-giong">
                    <h3>Tập sự kiện</h3>
                    <ul id="ul-giong-events">
                        
                    </ul>
                </div>
                <input id="chon-event-giong-input" class="form-control" placeholder="Chọn hoặc thêm mới sự kiện">
            </div>
            <div class="modal-footer">
                <button type="button" id="tao-luat-giong" class="btn">Thực thi</button>
                <button type="button" class="btn" data-dismiss="modal">Trở về</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        showSuKienMoi(1);
    })
</script>