<div style="padding: 20px;">
    <p><a href="/quanlygiong">Quản lý luật giống</a></p>
    <p><a href="/quanlybenh">Quản lý luật bệnh</a></p>
</div>
<div class="row" style="width: 94%; margin: 20px;">
    <div style="width: 100%">
        <table style="width: 100%">
            <tr>
          
                <th>ID</th>
                <th>Lọai luật</th>
                <th>Tập sự kiện</th>
            </tr>
            <%facts.forEach(rule => {%>
                <tr>
                    <td><%=rule.id%></td>
                    <td><%=rule.type%></td>
                    <td>
                        <%rule.events.forEach(event => {%>
                            <p>- <%=event%></p> 
                        <%})%>
                    </td>
                </tr>
            <%})%>
        </table>

    </div>
</div>
