<div id="search-container" style="position: relative; top:270px;">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="text-align: center">
            <h1>Bạn Của Nhà Nông</h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="ui-widget">
                <div class="form-group">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <button id="disease-mode-btn" class="btn mybtn" style="background-color: #f2f4f7;">Chuẩn đoán bệnh</button>
                        </div>
                        <dvi class="col-md-3">
                            <button id="planting-mode-btn" class="btn mybtn">Tư vấn gieo trồng</button>
                        </dvi>
                        <div class="col-md-3"></div>
                    </div>
                    <div><input id="event-text" name="event" oninput="findEvent()" placeholder="Nhập vào các triệu chứng bệnh" class="form-control" style="width:100%"></div>
                    <div id="events-tag" class="events-tag" style="margin-top:10px" hidden>
                        <h5 id="event-list-header">Tập các triệu chứng bệnh</h5>
                        <ul id="tag">
                            
                        </ul>
                    </div>
                    <div style="margin-top: 10px;">
                        <button id="search-result-btn" class="btn mybtn" style="border: 0.5px solid #b7bec9;">Chuẩn đoán</button>
    
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row" style="position:relative;">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div id="search-result">

            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    var resultIds = [];
    var images;
   

    function renderBenh(result, rate) {
        document.getElementById('search-container').style.top = '50px';
        let eventsHtm = "";
        result.events.forEach(event => {
            eventsHtm += `<li>${event.name}</li>`;
        })
        
        let imgHtm = "";
        if (images) {
            imgHtm = `
                <h2>Một số hình ảnh</h2>
                <div>
                    <button id="prevImg" onclick="nextImg()"><<</button>
                    <button id="nextImg" onclick="prevImg()">>></button>
                    <img id="img-view" src="${images[0]}" style="width: 100%; height: 400px;">
                </div>
                <hr>
            `
        }

        let solutionsHtm = "";
        result.solution.split('+').forEach(line => {
            solutionsHtm += `<li>${line}</li>`;
        })
        let htm = `
                <hr>
                <h1>Tên bệnh : ${result.name}</h1>
                <h1>Tỉ lệ : ${rate} %</h1>
                <hr>
                <h2>Các triệu chứng: </h2>
                <ul>
                    ${eventsHtm}
                </ul>
                <hr>
                ${imgHtm}
                <h2>Biện pháp chữa trị</h2>
                <ul>
                    ${solutionsHtm}
                </ul>
                <hr>
                <p><a href="#">Xem trang tiếp</a></p>
        `;
        $('#search-result').empty();
        $('#search-result').append(htm);
    }

    function renderGiong(result) {
        document.getElementById('search-container').style.top = '50px';
        let eventsHtm = "";
        result.events.forEach(event => {
            eventsHtm += `<li>${event.name}</li>`;
        });

        let imgHtm = "";
      
        if (images[0]) {

            imgHtm = `
                <h2>Một số hình ảnh</h2>
                <div>
                    <button id="prevImg" onclick="nextImg()"><<</button>
                    <button id="nextImg" onclick="prevImg()">>></button>
                    <img id="img-view" src="${images[0]}" style="width: 100%; height: 400px;">
                </div>
                <hr>
            `;
        }
 

        let solutionsHtm = "";
        result.solution.split('+').forEach(line => {
            solutionsHtm += `<li>${line}</li>`;
        });

        let htm = `
                <hr>
                <h1>Tên giống lúa : ${result.name}</h1>
                <hr>
                <h2>Các đặc tính: </h2>
                <ul>
                    ${eventsHtm}
                </ul>
                <hr>
                ${imgHtm}
      
                <h2>Thông tin chi tiết</h2>
                <ul>
                    ${solutionsHtm}
                </ul>
                <p><a href="#">Xem trang tiếp</a></p>
        `;
        $('#search-result').empty();
        $('#search-result').append(htm);
    }
    $('#search-result-btn').on('click', function() {
        if (!events) return false;
        
        $('#tag').empty();
        
        if (type == 'benh') {
            $.post('/chuandoanbenh', {
                events: events,
              
            }, function(data, status) {
                
                if (data.result) {
                    images = data.result.urls;
                    
                    renderBenh(data.result, data.rate);
                } else {
                    showMessage();
                }
                
            });
        } else {
            $.post('/chongionglua', {
                events: events,
              
            }, function(data, status) {
     
                if (data.result) {
                    images = data.result.urls;
                    
                    renderGiong(data.result);
                } else {
                    showMessage();
                }
                
            }); 
        }
        
        events = [];
    });

    function showMessage() {
        $('#search-result').empty();
        $('#search-result').append("<hr><h1>Không có kết quả phù hợp</h1>")
    }
</script>
