<div style="margin:50px">
    <%-include('search')%>
</div>
<div>
    <div>
        Phan nay la ten benh, mieu ta cac chieu chung + hinh anh
    </div>
    <div>
        Phan nay la cach chua tri
    </div>
</div>