
<table style="width: 100%">
    <tr>
        <th>ID</th>
        <td>Ten benh</td>
        <td>Cac trieu chung</td>
        <td>Cach chua tri</td>
        
    </tr>
    <%results.forEach(result => {%>
        <tr>
            <td><%=result.id%></td>
            <td><%=result.name%></td>
            <td>
                <%result.events.forEach(result => {%>
                    <p><%=result.name%></p>
                <%})%>
            </td>
            <td><%=result.solution%></td>
        </tr>
    <%})%>
</table>