<p><a href="/quanlygiong">Trở về trang luật giống</a></p>
<div class="ui-widget" style="margin: 50px;">
    <div class="form-group"> 
        <label for="result-selector">Chọn giống: </label>
        <input id="result-text" name="result" class="form-control" oninput="findGiong()" placeholder="Điền giống lúa">
        <label for="symptons-seletor">Chọn các đặc tính của giống lúa: </label>
        <input id="event-text" class="form-control" oninput="findDactinh()" placeholder="Điền vào các đặc tính của giông lúa">
        <div id="event-list">
            <div id="tag" style="margin: 10px;">
                
            </div>
        </div>
        <button id="tao-luat-giong-btn" class="btn mybtn " style="border: 0.5px solid #b7bec9">Tạo mới</button>
    </div>
</div>
<script>function findDactinh() {
        let time = new Date().getTime();
        key = time;
        
        setTimeout(function() {
            if (time === key) {
                
                let event = $(`#event-text`).val();
                
                io.socket.get('/findEvent', {event: event, type: 'giong'}, (res, jw) => {
                    //just ignore
                }) 
            }
        }, 200);
        
    }
    
    function findGiong() {
        let time = new Date().getTime();
        key = time;
       
        setTimeout(function() {
            if (time === key) {
                let result = $(`#result-text`).val();
                io.socket.get('/findResult', {result: result, type: 'giong'}, (res, jw) => {
                    //just ignore
                })
            }
        })
       
    }



    $('#tao-luat-giong-btn').on('click', function() {
        let result = $('#result-text').val();
        if (!result || !events) {
            window.alert("Bạn phải nhập vào tên bệnh và tập sự kiện");
            return false;
        }
        let newRule = {
            result: result,
            events: events,
 
        }
        $.post('/taoluatgiong', newRule, function(data) {
            events = [];
            $('#tag').empty();
            $('#result-text').val('');

            window.alert('Tạo luật mới thành công');
        });
        
    });
</script>